/*=============================================
=            Border            =
=============================================*/

/**
 *
 * b = border
 *
 */

/*=============================================
=            Foundation            =
=============================================*/

@import "../foundation/all";

/*=====  End of Foundation  ======*/

.b-rd-basic {
  border-radius: $b-radius;
  border-width: $b-width;
}

.b-rd {
  &-blue {
    @extend .b-rd-basic;
    border-color: $b-primary-color;
    &:hover {
      border-color: $b-primary-color-hover;
    }
    &:focus {
      border-color: $b-primary-color-focus;
    }
    &:active {
      border-color: $b-primary-color-active;
    }
    &:disabled {
      border-color: $b-primary-color-disabled;
    }
  }

  &-thick {
    border-width: $b-width-thick;
  }
  &-thin {
    border-width: $b-width-thin;
  }

  &-gray {
    @extend .b-rd-basic;
    border-color: $b-gray-color;
    &:hover {
      border-color: $b-gray-color-hover;
    }
    &:focus {
      outline: $b-gray-color;
    }
  }
}

.b-rd-lt {
  @extend .b-rd;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.b-rd-rt {
  @extend .b-rd;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*=====  End of Border  ======*/
