/*=============================================
=            Color Styles            =
=============================================*/

@import "../foundation/all";

/**
 *
 * clr = 
 * lnk = link
 *
 */

.clr {
  &-bg {
    @include map-color("background-color");
  }
  &-txt {
    @include map-color("color");
    &-lnk {
      color: map-get($gray, "800");
      cursor: pointer;
      &:hover {
        color: map-get($blue, "500");
      }
    }
  }
}

/*=====  End of Color Styles  ======*/
