/*=============================================
=            Color Styles            =
=============================================*/

@import "../foundation/all";

/**
 *
 * clr = 
 * lnk = link
 *
 */

.clr {
  &-bg {
    @include map-color("background-color");
    &-no {
      background-color: transparent;
    }
  }
  &-txt {
    @include map-color("color");
    &-lnk {
      cursor: pointer;

      @include map-color("color");
      &:hover {
        color: map-get($blue, "600");
      }
      &:focus {
        color: map-get($blue, "500");
      }
      &:active {
        color: map-get($blue, "600");
      }
    }
  }
  &-b {
    @include map-color("border-color");
    &-lnk {
      cursor: pointer;
      &:hover {
        color: map-get($blue, "500");
      }
      @include map-color("border-color");
    }
  }
}

/*=====  End of Color Styles  ======*/
