@import "../foundation/all";

.base-fld-font-style {
  color: $fld-color;
  font-family: $font-family;
  font-weight: $fw-n;
}

.input-grp {
  display: inline-block;
  position: relative;
  .fld-lg {
    padding: $fld-padding-lg-h-size $fld-padding-side-size;
    background-color: $fld-bg-olor;
    @extend .base-fld-font-style;
    &:hover {
      background-color: $fld-colo-bg-hover;
    }
    &:focus {
      background-color: $fld-colo-bg-hover;
      padding: $fld-padding-lg-type-up-size $fld-padding-side-size
        $fld-padding-lg-type-bottom-size;
      color: $fld-type-color;
    }
  }

  .fld-sm {
    color: $fld-color;
    background-color: $fld-bg-olor;
    font-family: $font-family;
    font-weight: $fw-n;
    &:hover {
      background-color: $fld-colo-bg-hover;
    }
    padding: $fld-padding-sm-h-size $fld-padding-side-size;
  }

  .fld-lg:focus + label {
    display: inline-block;
    position: absolute;
    top: $lbl-focus-position-top;
    left: $lbl-focus-position-left;
    pointer-events: none;
    font-size: $txtFt-xs-size;
  }

  /*----------  Input Default Position for label and Icon  ----------*/

  .fld-sm + label,
  .fld-lg + label {
    display: none;
    @extend .base-fld-font-style;
  }
  .icn-lf ~ .fld-sm,
  .icn-lf ~ .fld-lg {
    padding-left: $fld-padding-left-icon-size;
  }
  .icn-lf {
    position: absolute;
    left: 1.5rem;
  }
  .icn-rt {
    position: absolute;
    right: 1rem;
  }
  .icn-sm-input-field {
    top: $icn-small-input-position-top;
  }
  .icn-lg-input-field {
    top: $icn-large-input-position-top;
  }

  /*----------  Set Position while TextField focused  ----------*/

  .icn-lg-input-field + .fld-lg:focus + label {
    left: $lbl-focus-icon-position-left;
  }
}
