.diagonal-tag {
  width: 5rem;
  height: 5rem;
  &-t-r {
    @extend .diagonal-tag;
    -webkit-clip-path: polygon(1% 0, 61% 1%, 100% 46%, 100% 100%);
    clip-path: polygon(1% 0, 61% 1%, 100% 46%, 100% 100%);
  }
  &-t-l {
    @extend .diagonal-tag;
    -webkit-clip-path: polygon(44% 0, 100% 0, 0 100%, 0 44%);
    clip-path: polygon(44% 0, 100% 0, 0 100%, 0 44%);
  }
  &-txt-t-l {
    transform: rotate(-51deg);
    float: left;
  }
  &-txt-t-r {
    float: right;
    transform: rotate(51deg);
  }
}

.bookmark-tag {
  width: 2rem;
  height: 3.5rem;
  &-t-l {
    @extend .bookmark-tag;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 91%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 91%, 0 100%);
  }
  &-t-r {
    @extend .bookmark-tag;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 91%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 49% 91%, 0 100%);
  }
  &-txt-t-l {
    transform: rotate(90deg);
  }
  &-txt-t-r {
    transform: rotate(90deg);
  }
}

.star-tag {
  width: 3rem;
  height: 2rem;
  clip-path: polygon(
    35% 10%,
    50% 0%,
    60% 10%,
    80% 10%,
    80% 27%,
    100% 35%,
    92% 52%,
    100% 70%,
    84% 77%,
    80% 90%,
    62% 89%,
    50% 100%,
    37% 87%,
    20% 90%,
    17% 77%,
    0% 70%,
    8% 51%,
    0% 35%,
    15% 28%,
    20% 10%
  );
  &-t-l {
    @extend .star-tag;
  }
  &-t-r {
    @extend .star-tag;
  }
  &-txt-t-l {
    float: left;
  }
  &-txt-t-r {
    float: right;
  }
}
